{% extends "base.html" %}

{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">登入</h3></div>
                            <div class="card-body">
                                <form method="POST" action="/login">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">使用者Email地址</label>
                                        <input class="form-control py-4" type="text" name="username" placeholder="請輸入Email地址" />
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">密碼</label>
                                        <input class="form-control py-4" type="password" name="password" placeholder="請輸入密碼" />
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="/signup">沒有帳號?</a><button class="btn btn-primary">送出</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
